.git
.agents
.codex
**/__pycache__
**/*.pyc

checkpoints
data
logs
models
notebooks
outputs
raw
reports
scripts
sim_record
slurm
sweeps
tests
third_party

furniture-bench
src/assets
src/real2sim
src/sim2real
